/* FONT-FACE */
@font-face {
  font-family: 'Inter';
  src: url('../font/Inter-SemiBold.woff2') format('woff2'),
    url('../font/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../font/Inter-Medium.woff2') format('woff2'),
    url('../font/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../font/Inter-Bold.woff2') format('woff2'),
    url('../font/Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../font/Inter-Regular.woff2') format('woff2'),
    url('../font/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.main-content {
  flex-grow: 1;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f1f4ff;
}


/* ABOUT-COURSE */
.main-content__container {
  display: flex;
  /* align-items: flex-start; */
}

.about-course {
  width: 100%;
  max-width: 570px;
  overflow-x: hidden;
  border-radius: 20px;
  margin-right: 12px;
  background-image: url(../img/about-course-bg.png);
  background-repeat: no-repeat;
}

.about-course__info {
  padding-top: 55px;
  padding-left: 60px;
  padding-right: 121px;
  padding-bottom: 203px;
}

.about-course__title {
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 60px;
  border-radius: 41px;
  border: 1px solid #FFF;
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.00);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.about-course__heading {
  margin-top: 0;
  margin-bottom: 25px;
  width: 100%;
  max-width: 389px;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
}

.about-course__text {
  margin: 0;
  width: 100%;
  max-width: 347px;
  font-weight: 400;
  line-height: 26px;
}

.about-course__link {
  display: block;
  padding: 29px 5px;
  text-align: center;
  border-radius: 0px 0px 20px 20px;
  background-color: #4DC490;
  color: #fff;
  font-family: 'Inter';
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.about-course__link-additional {
  font-weight: 400;
}


/* COURSE-FORM */
.course-form {
  width: 100%;
  max-width: 570px;
  padding-top: 55px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 40px;
  border-radius: 20px;
  background-color: #fff;
}

.course-form__heading {
  margin-top: 0;
  margin-bottom: 68px;
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
}

.form__fields {
  margin-bottom: 63px;
}

.form__field:not(:last-child) {
  margin-bottom: 24px;
}

.form__input {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 11px;
  border: 0;
  border-bottom: 1px solid #555;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.form__input:not(:focus):not(:placeholder-shown):valid {
  border-color: green;
}

.form__input:not(:focus):not(:placeholder-shown):invalid {
  border-color: #f03535;
}

.form__input:not(:focus):not(:placeholder-shown):invalid ~ .form__error {
  display: block;
}

/* .form__input:focus + .validation-error,
.form__input:valid + .validation-error,
.form__input:placeholder-shown + .form__error {
  display: block;
} */

.form__error {
  /* display: block; */
  display: none;
  margin-top: 4px;
  text-align: right;
  color: #f03535;
  text-align: right;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form__button {
  width: 100%;
  padding: 20px;
  margin-bottom: 8px;
  border: 0;
  cursor: pointer;
  border-radius: 10px;
  background-color: #655af2;
  color: #fff;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.course-form__description {
  margin: 0;
  color: #555;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
}

.course-form__description-link {
  color: #f03535;
  font-family: 'Inter';
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  /* text-decoration-line: underline; */
}


/* MEDIA */
@media only screen and (max-width: 800px) {
  .main-content__container {
    flex-direction: column;
  }

  .about-course {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .course-form {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 400px) {
  .about-course__title {
    font-size: 10px;
    margin-bottom: 35px;
  }

  .about-course__info {
    padding-top: 45px;
    padding-left: 25px;
    padding-right: 79px;
    padding-bottom: 120px;
  }

  .about-course__heading {
    width: 100%;
    max-width: 241px;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 20px;
  }

  .about-course__link {
    font-size: 16px;
  }

  .course-form {
    padding-top: 45px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 45px;
  }

  .course-form__heading {
    width: 100%;
    max-width: 259px;
    font-size: 26px;
    margin-bottom: 35px;
  }

  .form__input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 16px;
  }

  ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #555;
    font-size: 14px;
  }

  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #555;
    font-size: 14px;
    opacity: 1;
  }

  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #555;
    font-size: 14px;
    opacity: 1;
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #555;
    font-size: 14px;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #555;
    font-size: 14px;
  }

  ::placeholder {
    /* Most modern browsers support this now. */
    color: #555;
    font-size: 14px;
  }

  .form__fields {
    margin-bottom: 70px;
  }

  .course-form__description {
    width: 100%;
    max-width: 210px;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
  }
}



/* RETINA BG */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

  .about-course {
    background-image: url(../img/about-course-bg@2x.png);
  }
}